@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    border: 0;
    margin: 0;
}

/* Header */
.header{
    background-color: transparent;
    position: fixed;
    display: flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: space-evenly;
    gap: 15%;
    width: 100%;
background-color: wheat;
}
.btnPreHeader{
    background-color: #BDB2FF;
    padding: 8px;
    border-radius: 15px;    
    color: black;
    text-decoration: none;

}
.navbarLinea{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}
.divisor{
    width: 200%;
    border: 1px solid #5a5a5a;

}
.navbar{
    display: flex;
    gap: 20px;
}
.linkNav{
    text-decoration: none;
    color: black;
}
.logoHeader{
    width: 15%;
}
/* Banner general */
.banner{
    background-color: #FFCFCF;
}
.horizontal{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
}
/* Banner Texto */
.bannerText{
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.btnInicio{
    text-decoration: none;
    color: white;
    background-color:  #BDB2FF;
    border: 5px solid wheat;
    border-radius: 20px;
    padding: 10px;
}
.cambioFuente{
    font-family: "Great Vibes", serif;
    font-weight: 128;
    font-style: normal;
    font-size: 80px;
    margin: -10px;
}
.tituloInicio{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    gap: -5px;
    font-size: 35px ;
    font-family: "Roboto Condensed", serif;
}

/* Banner imagen */
.bannerImg{
    background-image:url("https://ninaconamore.com/cdn/shop/files/IMG_6050.jpg?v=1704413428&width=533") ;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 600px;
}


/* Redes */
.redes{
    margin-left:5%;
    display: flex;
    gap: 15px;
}
.linkRedes{
    background-color: transparent;
    color: black;
    font-size: 30px;
}




